<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-left">
        <a class="footer-link" rel="author" href="{{ "/" | relative_url }}">
          <img class="footer-logo" src="{{ "../assets/images/logoBlack.png" | relative_url }}" alt="Logo" />
          <h2 class="footer-heading">{{ site.title | escape }}</h2>
        </a>
      </div>

      <div class="footer-col footer-right">
        <p>{{- site.description | escape -}}</p>
        <a class="u-email" href="mailto:{{ site.email }}">Contact: {{ site.email }}</a>
        <br>
        <a href="https://www.filio.io">Filio Homepage</a>
      </div>

    </div>

  </div>

</footer>
